[access]
	inheritFrom = All-Projects
[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Sony Fusion3 Maintainers
	label-Verified = -1..+1 group Sony Fusion3 Maintainers
	submit = group Sony Fusion3 Maintainers
	push = +force group Sony Fusion3 Maintainers
	pushMerge = group Sony Fusion3 Maintainers
